<div class="row">
    <div class="form-group">
      <label for="server">Server</label>
      <!-- <input type="text" class="form-control"[(ngModel)]="name"> -->
      <input 
      type="text" 
      class="form-control"
      #nameInput>
    </div>
    <div class="form-group">
      <label for="server">Server Content</label>
      <!-- <input type="text" class="form-control"[(ngModel)]="serverContent"> -->
      <input 
      type="text"
      class="form-control"
      serverContentInput
      >
    </div>
    <button type="btn btn-success"
    (click)= "onAddServer(nameInput)">Add Server</button>
  </div>